.header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.header img,#logo-link{
    height: 100%;
}

.header a {
    text-decoration: none;
}

.header * {
    margin: 0 20px;
}

#head-space{
    height: 80px;
}