body {
    margin: 0;
    background: url("../img/WP_rain.jpg");
    background-size: cover;
}

img{
    height: 100%;
}

.img-ctr{
    height: 400px;
}

.btn {
    font-size: large;
    padding: 5px;
    background-color: rgba(206, 206, 206, 0.37);
    border-radius: 7px;
    color: black;
}

.tiny {
    font-size: small;
}

.btn:hover {
    background-color: rgba(206, 206, 206, 0.66);
}