<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>Haha</title>
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="assets/style/header.css">
    <link rel="stylesheet" href="assets/style/liste.css">
    <link rel="stylesheet" href="assets/style/page-item.css">
<!--    Import de la police Bebas Neue-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<!--    Import de la police Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>

    {{template "content" .}}

<script>
    function onMenuClick() {
        // var navbar = document.getElementsByClassName("btn-ctr");
        var navbar = document.getElementById("link-box")
        var responsive_class_name = "responsive";

        navbar.classList.toggle(responsive_class_name);
    }
</script>

</html>