{{define "content"}}
<body class="landing">
  {{template "header" .}}
  <div class="ctnr">
    <p class="title-1">MARVEL API</p>
    <p class="txt">
      Ce site se place dans le cadre du projet Groupie Tracker.
      Son but est d'utiliser une API sur un site web via un server Go.
      L'API utilisée est celle de Marvel depuis laquelle il est possible de récupérer des informations sur les comics.
    </p>
    <p class="title-2">Comment ça marche ?</p>
    <p class="txt">
      Cliquez sur START et rentrez le nom d'un personnage. Ensuite cliquez sur un des personnages de la liste.
    </p>
    <a class="btn fat red title-2" href="/formPerso">START</a>
</body>
{{end}}